*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
    
}
h2{
    background: rebeccapurple;
    border: dodgerblue solid 5px;
    height: 5rem;
    color: red;
}
div{
    background-color: rgb(200, 255, 0);
    height: 10rem;
    color: rgb(255, 0, 183);
}
